h1 {
  /* hide h1, it's just for a11y */
  position: absolute;
  left: -9999px;
}

main {
  display: flex;
  flex-direction: column;
  background: 0;
  max-width: 1100px
}

.support-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  margin-top: 8px;
}

.support-card {
  background: var(--surface-container);
  border-radius: var(--shape-l);
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 8px;
}

.support-card--main {
  background: var(--surface-container-high);
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
}

.support-card__icon {
  font-size: 48px;
}

.support-card__title {
  margin: 0;
  border-bottom: 0;
  margin-block: 0;
  padding: 0;
  font-size: 1.2rem;
}

.support-card__desc {
  font-size: 1em;
  margin: 4px 0 8px 0;
}

.support-card__actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.support-card__button {
  background: var(--primary-container);
  color: var(--on-primary-container);
  border: none;
  border-radius: var(--shape-xl);
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.15s;
}

.support-card__button:visited {
  color: var(--on-primary-container); 
}

.support-card__button:hover {
  border: 0;
  filter: brightness(1.1)
}

.support-card--main .support-card__button {
  background: var(--primary);
  color: var(--on-primary)
}

.support-card--main .support-card__button:visited {
  color: var(--on-primary); 
}

.support-card__button.secondary {
  background: var(--surface-container);
  color: var(--primary);
  border: 1.5px solid var(--primary-container);
}

.support-footer {
  margin-top: 24px;
  font-size: 1.05em;
  color: var(--on-surface-variant);
  border-top: 1px solid var(--outline-variant);
  padding-top: 18px;
}

@media (max-width: 700px) {
  main {
    padding: 18px 2vw 32px 2vw;
  }
  .support-cards {
    grid-template-columns: 1fr;
  }
}
