@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Manrope";
}

.container {
  display: flex;
  margin: auto;
  max-width: 960px;
  padding: 0 20px;
}

.hero {
  min-height: 100vh;
  align-items: center;
}

.hero__inner {
  align-items: center;
  flex-direction: column;
  width: 100%;
  display: flex;
  padding: 20px 0;
}

.hero__icon {
  height: 120px;
  margin: 0 auto;
  width: 120px;
}

.hero__title {
  margin: 28px auto 0 auto;
}

.hero__copy {
  margin: 6px auto 0 auto;
}

.button {
  justify-content: center;
  display: inline-flex;
  height: 48px;
  letter-spacing: 0.02em;
  padding: 0 24px;
  border-radius: 4px;
  font-size: 18px;
  background: hsl(210, 100%, 50%);
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.button:hover {
  background: hsl(214, 100%, 44%);
}

.hero__get-button {
  margin: 36px auto 0 auto;
}

.hero__download-detail {
  margin: 12px auto 0 auto;
}

.hero__attribution {
  font-size: 14px;
  letter-spacing: 0.02em;
  margin: 28px auto 0 auto;
}

.link {
  text-decoration: none;
  color: hsl(210, 100%, 50%);
}

.link:hover {
  color: black;
}

.copy {
  font-feature-settings: "liga";
  font-weight: 400;
  color: black;
  letter-spacing: 0.02em;
}

.copy_size_1 {
  font-size: 16px;
}

.copy_size_2 {
  font-size: 14px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: black;
  letter-spacing: -0.02em;
}
