:root {
  --lawnchair-background-color: hsl(208deg 78% 48%);
  --lawnchair-background-color--lighter: hsl(209deg 73% 70%);
  --lawnchair-background: url(/images/hero-background.svg);
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --lawnchair-background-color: hsl(209deg 73% 64%);
    --lawnchair-background: linear-gradient(rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3)),
      url(/images/hero-background.svg);
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --lawnchair-background-color: hsl(210, 76%, 15%);
    --lawnchair-background-color--lighter: hsl(206deg 78% 20%);
    --lawnchair-background: linear-gradient(hsla(0, 0%, 0%, 0.7),
        hsla(0, 0%, 0%, 0.7)),
      url(/images/hero-background.svg);
  }
}

header {
  background-color: transparent;
}

.scrim {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--scrim);
  z-index: 100;
  opacity: 0.5;
  overflow: hidden;
}

.scrim.hide {
  display: none
}

.alert-dialog-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  transform: scale(0.6);
  opacity: 0;
}

.alert-dialog {
  display: flex;
  flex-direction: column;
  background: var(--surface-container);
  max-width: 500px;
  border-radius: var(--shape-xl);
  padding: 20px;
}

.alert-dialog-wrapper.show {
  transform: scale(1);
  opacity: 1;
}

.alert-dialog .announcements-title {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.alert-dialog .announcements-buttons {
  display: flex;
}

.alert-dialog .announcements-buttons .dismiss {
  all: unset;
  margin-left: auto;
  transition: 0.3s background;
  color: var(--primary);
  padding: 5px 10px;
  min-width: 20px;
  text-align: center;
  border-radius: var(--shape-xl)
}

a.announcement {
  display: block;
  color: var(--on-surface);
  text-decoration: none;
}

a.announcement:after {
  content: "Learn more...";
  display: flex;
  font-weight: bold;
}

a.announcement:hover {
  filter: brightness(1.1)
}

.announcement {
  background: var(--surface-container-highest);
  padding: 10px 20px;
  border-radius: var(--shape-l);
  margin-bottom: 10px;
}

.announcement.test {
  display: none;
}

.show-tests .announcement.test {
  display: block;
  background: var(--surface-container-high);
  color: var(--on-surface);
  font-style: italic;
}

.announcement.active {
  background: var(--secondary-container);
  color: var(--on-secondary-container)
}

.alert-dialog .announcements-buttons .dismiss:hover,
.alert-dialog .announcements-buttons .dismiss:focus {
  background-color: var(--primary-container);
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

main>* {
  flex: 1 1 fit-content;
}

main>*:not(:first-child) {
  font-size: 1.2em;
}

/* Hero content */
.hero {
  z-index: 0;
  width: 100%;
}

.hero__background {
  background-image: var(--lawnchair-background);
  background-color: var(--lawnchair-background-color);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--shape-m);
  margin: 20px auto;
  flex: auto;
  width: 90%;
  min-height: 85vh;
  max-height: 100%;
  transition: all 0.3s;
}

.hero__background:hover {
  border-radius: 0 0 var(--shape-xl) var(--shape-xl);
  margin: 0 auto;
  width: 100%;
  margin-top: -1px;
  min-height: 90vh;
}

:has(.hero__background:hover) header {
  background-color: var(--lawnchair-background-color);
  border-bottom-color: var(--lawnchair-background-color);
}

.hero__wrapper {
  padding-top: 20vh;
  padding-bottom: 20px;
  margin: auto;
  width: 85%;
  max-width: 840px;
}

.snackbar {
  position: fixed;

  z-index: 1000;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10px;

  display: none;
  justify-content: space-between;
  align-items: center;

  background: var(--inverse-surface);
  color: var(--inverse-on-surface);
  border-radius: var(--shape-xs);

  min-height: 48px;
  max-height: 64px;
  padding: 0 8px 0 16px;

  width: 90%;
  max-width: 540px;
}

.snackbar span {
  flex: 1;
}

.snackbar_link {
  all: unset;
  transition: 0.3s background;
  color: var(--inverse-primary);
  padding: 5px 10px;
  min-width: 20px;
  text-align: center;
  border-radius: var(--shape-xl)
}

.snackbar_link:hover, .snackbar_link:focus,
.snackbar_dismiss:hover, .snackbar_dismiss:focus {
  background-color: rgba(var(--inverse-primary-rgb), 0.2);
}

.snackbar_dismiss {
  all: unset;
  transition: 0.3s background;
  color: var(--on-inverse-surface);
  padding: 5px;
  border-radius: var(--shape-xl);
  min-width: 20px;
  text-align: center;
}

.hero__content {
  font-size: 1.2em;
  color: var(--on-background);
}

.hero__content__icon {
  height: 150px;
  border-radius: 50%;
}

.hero__content__name {
  font-weight: 800;
  margin-block: 5px;
}

.hero__content__description {
  margin-bottom: 20px;
  font-weight: 400;
}

.hero__content__name {
  margin-top: 20px;
}

.hero__content__downloads {
  gap: 20px;
  display: flex;
}

.hero__content__downloads .button {
  background: var(--primary-container);
  color: var(--on-primary-container);
  padding: 16px 20px;
  border-radius: var(--shape-xl);
  text-decoration: none;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
  font-size: 0.9em;
}

.hero__content__downloads .button:hover {
  filter: brightness(1.2);
}

.hero__content__downloads .button.primary {
  background: var(--primary);
  color: var(--on-primary);
}

.hero__content__downloads .button.primary:hover {
  filter: brightness(1.2);
}

/* About section */
.about {
  width: 85%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  font-size: 1.05em;
  gap: 2em;
  height: 100vh;
}

.about__image {
  width: 300px;
  height: auto;
  max-width: 100%;
}

.about__description {
  max-width: fit-content;
  line-height: 1.4;
}

.about__info {
  display: inline-block;
  width: 80%;
}

/* Features */
.features {
  height: 100vh;
  width: 100%;
  max-width: 100% !important;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

.features__wrapper {
  width: 85%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.05em;
  justify-content: center;
  gap: 2em;
}

.features__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 2em;
}

.features__container .feature {
  text-align: left;
}

.features__container .feature :is(span, svg) {
  font-display: swap;
  width: 48px;
  height: 48px;
  font-size: 48px;
  font-variation-settings: "OPSZ" 48;
  color: var(--secondary);
}

.features__container .feature h3 {
  font-weight: 600;
}

.features__container .feature p {
  font-weight: 400;
}

.features__header {
  width: 100%;
  padding: 14px 0;
  text-align: center;
}

/* Links section */
.links {
  width: 85%;
  margin: 12px auto 40px auto;
  font-size: 1.05em;
  gap: 2em;
  color: var(--on-tertiary-container);
}

.links__cards {
  margin-top: 30px;
  gap: 6px 14px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.link__card {
  transition: filter 0.4s ease, border-radius 0.2s ease;
  background: var(--tertiary-container);
  color: var(--on-tertiary-container);
  padding: 16px 30px;
  border-radius: var(--shape-m);
  width: 100%;
  text-decoration: none;
  margin-bottom: 10px;
  min-width: 200px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 14px;
}

.link__card:hover {
  filter: brightness(0.9);
  border-radius: var(--shape-xl);
}

.link__card:focus {
  filter: brightness(0.8);
}

.link__card img {
  width: 30px;
  height: 30px;
}

/* Other */
main>section:not(:first-child) {
  max-width: 840px;
}

@media screen and (prefers-color-scheme: dark) {
  .hero__content {
    color: var(--text-color);
  }

  .hero__content__icon {
    filter: brightness(90%);
  }

  .link__card img {
    filter: invert(1);
  }
}

@media screen and (max-width: 800px) {
  .hero__content__description {
    margin-bottom: 30px;
  }

  .about__info {
    width: 100%;
  }

  .hero__background {
    min-height: 70vh;
  }

  .hero__wrapper {
    padding-top: 40px;
  }

  section.about {
    flex-direction: column;
  }

  .features__container {
    grid-auto-flow: row;
  }

  .link__card:hover {
    filter: brightness(1.1);
  }
}

@media screen and (max-width: 520px) {
  section.hero .hero__content {
    text-align: center;
  }

  .links__cards {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .link__card {
    min-width: -webkit-fill-available;
    min-width: fill-available;
    padding: 16px 20px;
    max-width: inherit;
  }

  .hero__content__downloads .button {
    width: fill-available;
    width: -webkit-fill-available;
  }

  .hero__content__downloads {
    flex-direction: column;
    gap: 8px;
  }
}

@media screen and (min-width: 1700px) and (max-height: 900px) {
  section.hero .hero__background {
    background-image: linear-gradient(180deg,
        hsl(209, 78%, 48%) 30%,
        hsl(152, 100%, 32%) 100%);
  }
}

@media screen and (min-width: 1700px) and (max-height: 900px) and (prefers-color-scheme: dark) {
  section.hero .hero__background {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.7),
        hsla(0, 0%, 0%, 0.7)),
      linear-gradient(180deg, hsl(209, 78%, 48%) 30%, hsl(152, 100%, 32%) 100%);
  }
}
