@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

html.light .nextra-nav-container-blur {
  background-color: rgba(219,234,254, 0.7) !important;
}

html.dark .nextra-nav-container-blur {
  background-color: rgba(30, 41, 59, 0.4) !important;
}

html :is(.card_1, .card_2, .card_3) .disabled {
	cursor: not-allowed;
	background-color: #00000011 !important;
	border: 1px solid #00000001 !important;
	color: gray;
}