/* Global fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("/assets/m3/colors.css");
@import url("/assets/m3/shapes.css");

:root {
  --footer: var(--lawnchair-green-color-container);
  --on-footer: var(--lawnchair-green-on-color-container);

}

::selection {
  background-color: var(--footer);
  color: var(--on-footer);
}

* {
  box-sizing: border-box;
  transition: outline 0s;
}

*:focus-visible {
  outline: 1px solid var(--on-background);
  border-radius: 20px;
}

html,
body {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  background-color: var(--surface);
  color: var(--on-surface);
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  margin: 0;
  min-height: 100vh;
}

p {
  font-weight: 300;
}

b, strong {
  font-weight: 600
}

/* Header */
header {
  background-color: var(--surface-container);
  padding: 14px;
  position: sticky;
  top: 0;
  height: 56px;
  display: flex;
  align-items: center;
  transition: background 1s;
  z-index: 20;
  color: var(--on-surface-container);
}

header a {
  color: var(--on-surface-container);
  text-decoration: none;
}

header > a img {
  border-radius: 50%;
}

header > a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  transition: background 0.4s ease;
  background-color: hsla(149, 75%, 51%, 0);
  padding: 6px 10px 6px 6px;
  border-radius: 24px;
}

header > a:hover {
  transition: background 0.4s ease;
  background-color: hsla(149, 75%, 51%, 0.4);
}

header > a:visited {
  color: var(--on-surface-container);
}

.lawnchair__logo img,
.lawnchair__logo picture {
  height: 30px;
  width: 30px;
}

.lawnchair__logo span {
  font-weight: 600;
}

header nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

header nav a {
  transition: all 0.1s;
  padding: 8px 16px;
  border-radius: 20px;
}

header nav a:hover {
  background: var(--primary-container);
  color: var(--on-primary-container);
}

header nav a.active {
  font-weight: bold;
  background: var(--primary-fixed);
  color: var(--on-primary-fixed);
}

/* Footer */
footer {
  padding: 8px;
  text-align: center;
}

footer span {
  display: block;
  margin: auto;
  background-color: var(--footer);
  color: var(--on-footer);
  border-radius: var(--shape-xl);
  width: 90%;
  padding: 10px 20px;
  max-width: 840px;
  font-size: 0.9em;
}

footer a,
footer a:visited {
  font-weight: 500;
  color: var(--on-footer);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 400px) {
  header > a span {
    display: none;
  }
}
