:root {
  --body-color: hsl(0deg, 100%, 100%);
  --accent-background: hsl(222deg, 100%, 98%);
  --accent-light: hsl(222deg, 100%, 95%);
  --accent-normal: hsl(222deg, 100%, 90%);
  --accent-dark: hsl(226deg 100% 85%);
  --accent-darker: hsl(230deg 100% 80%);

  --accent-normal--transparent: hsla(222deg 100% 90% / 25%);

  --text-color: hsl(220deg, 5%, 10%);
  --text-disabled: hsl(220deg 5% 10% / 60%);

  --footer-color: hsl(149deg 98% 40%);
  --footer-color--darker: hsl(149deg 87% 37%);

  --lawnchair-background-color: hsl(209deg, 78%, 48%);
  --lawnchair-background-color--lighter: hsl(209deg 70% 55%);
  --lawnchair-background: url(/images/hero-background.svg);
}

::-webkit-scrollbar {
  width: 15px;
}

#toc::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--accent-light);
  border-radius: 20px;
}

::-webkit-scrollbar-button {
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-normal);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-dark);
}

* {
  box-sizing: border-box;
  transition: outline 0s;
}

*:focus-visible {
  outline: 1px solid var(--text-color);
  border-radius: 20px;
}

html,
body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  background-color: var(--body-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

/* Header */
header {
  background-color: var(--lawnchair-background-color);
  padding: 10px;
  position: sticky;
  top: 0;
  height: 50px;
  display: flex;
  transition: background 1s;
  z-index: 20;
}

header a {
  color: white;
  text-decoration: none;
}

header > a img {
  border-radius: 50%;
}

header > a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

header > a:hover {
  border-bottom: 1px solid var(--accent-dark);
}

header nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 5px;
}

header nav a {
  transition: all 0.2s;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #00000000;
}

header nav a:hover,
header nav a.active {
  border-color: var(--accent-dark);
}

header nav a:active,
header nav a.active {
  background: var(--accent-normal--transparent);
}

/* Footer */
footer {
  background: var(--footer-color);
  padding: 10px;
}

footer span {
  display: block;
  margin: auto;
  width: 80%;
  background: var(--footer-color--darker);
  padding: 10px;
  border-radius: 20px;
  max-width: 840px;
}

footer a,
footer a:visited {
  font-weight: 450;
  color: var(--text-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --body-color: hsl(228deg 5% 10%);
    --accent-background: hsl(230deg 8% 15%);
    --accent-light: hsl(230deg 35% 25%);
    --accent-normal: hsl(230deg 35% 35%);
    --accent-dark: hsl(225deg 40% 40%);
    --accent-darker: hsl(220deg 50% 50%);

    --accent-normal--transparent: hsl(230deg 30% 35% / 25%);

    --text-color: hsl(240deg 4% 83%);
    --text-disabled: hsl(240deg 4% 77% / 60%);

    --footer-color: hsl(152deg 100% 10%);
    --footer-color--darker: hsl(152deg 98% 14%);

    --lawnchair-background-color: hsl(206deg 81% 14%);
    --lawnchair-background-color--lighter: hsl(206deg 78% 20%);
    --lawnchair-background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)),
      url(/images/hero-background.svg);
  }
}

@media screen and (max-width: 400px) {
  header > a span {
    display: none;
  }
}
