/* container */
body {
  background: var(--surface-container);
}

main {
  background-color: var(--surface);
  border-radius: var(--shape-xl);
  margin: auto;
  margin-top: 20px;
  max-width: 900px;
  width: 80%;
  padding: 12px 40px;
}

@media screen and (max-width: 700px) {
  body {
    background: var(--surface);
  }

  
  main {
    margin: 0;
    width: 100%;
  }
}

@media screen and (prefers-color-scheme: dark) and (min-width: 700px) {
  body {
    background: var(--surface);
  }
  main {
    background: var(--surface-container)
  }
}

/* paragraphs */
main p {
  line-height: 1.5rem;
}

/* headings */
main h2 {
  font-weight: 700;
  margin-block-start: 30px;
  margin-block-end: 5px;
}

main h3,
main h4 {
  font-weight: 500;
  margin-block-end: 5px;
}

main h2 + h3 {
  margin-block-start: 0px;
}

main :is(h3, h4) + main :is(p, ul, ol) {
  margin-block-start: 0;
}

/* links */
main a {
  color: var(--primary);
  text-decoration: none;
  outline-offset: 4px;
}

main a:hover {
  border-bottom: 1px dashed;
}

main a:active {
  background: var(--secondary-container);
}

main a:visited {
  color: var(--tertiary);
}
