html,
body {
  font-size: 18px;
}

body {
  background-image: var(--lawnchair-background);
  background-color: var(--lawnchair-background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  max-height: 100%;
  color: var(--accent-light);
  padding-bottom: 60px;
}

main {
  background: var(--accent-light);
  color: var(--text-color);
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
}

header,
header a.lawnchair__logo {
  color: white;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
}

a {
  color: #0400ff;
  text-decoration: none;
  outline-offset: 4px;
}

a:hover {
  border-bottom: 1px dashed;
}

a:active {
  background: #11111111;
}

a:visited {
  color: #5600ff;
}

code {
  word-break: break-word;
}

@media screen and (prefers-color-scheme: dark) {
  html:root {
    /* The reversation of the values are intentional. */
    --lawnchair-background-color: hsl(206deg 78% 20%);
    --lawnchair-background-color--lighter: hsl(206deg 78% 34%);
  }

  header {
    filter: brightness(75%);
  }

  a {
    color: #5996ff;
  }

  a:visited {
    color: #a54aff;
  }
}
