header {
  background-color: transparent
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

main > * {
  flex: 1 1 fit-content;
}

main > *:not(:first-child) {
  font-size: 1.2em;
}

/* Hero content */
.hero {
  z-index: 0;
  width: 100%;
}

.hero__background {
  background-image: var(--lawnchair-background);
  background-color: var(--lawnchair-background-color);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin: 20px auto;
  flex: auto;
  width: 90%;
  min-height: 85vh;
  max-height: 100%;
  transition: all 0.3s
}

.hero__background:hover {
  border-radius: 0 0 20px 20px;
  margin: 0 auto;
  width: 100%;
  margin-top: -1px;
  min-height: 90vh;
}

:has(.hero__background:hover) header {
  background-color: var(--lawnchair-background-color);
  border-bottom-color: var(--lawnchair-background-color);
}

.hero__wrapper {
  padding-top: 20vh;
  padding-bottom: 20px;
  margin: auto;
  width: 85%;
  max-width: 840px;
}

.hero__notice {
  background: var(--accent-background);
  color: var(--text-color);
  padding: 20px;
  border-radius: 20px;
  width: 85%;
  max-width: 840px;
  margin: 20px auto 0 auto;
  display: none;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10px;
	align-items: center;
	justify-content: space-between;
  border: 2px solid var(--accent-dark)
}

.hero__notice:hover {
  background: var(--accent-background--lighter)
}

.hero__notice a {
  color: hsl(222deg 80% 40%);
  text-decoration: none;
}

.hero__notice .inactive {
  color: var(--text-disabled)
}

.hero__notice__button {
  all: unset;
  background-color: var(--accent-normal);
  border-radius: 20px;
  padding: 10px;
  min-width: 20px;
  text-align: center;
}

.hero__notice__button:hover {
  background-color: var(--accent-dark);
}

.hero__content {
  font-size: 1.2em;
  color: var(--text-color);
}

.hero__content__icon {
  height: 150px;
  border-radius: 50%;
}

.hero__content__name {
  font-weight: 800;
  margin-block: 5px;
}

.hero__content__description {
  margin-bottom: 20px;
  font-weight: 400;
}

.hero__content__name {
  margin-top: 20px;
}

.hero__content__downloads {
  gap: 20px;
  display: flex;
}

.hero__content__downloads .button {
  background: var(--accent-background);
  color: var(--text-color);
  padding: 16px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
  font-size: 0.9em;
}

.hero__content__downloads .button:hover {
  background: var(--accent-light);
}

.hero__content__downloads .button:active {
  background: var(--accent-normal);
}

.hero__content__downloads .button.primary {
  background: var(--accent-normal);
}

.hero__content__downloads .button.primary:hover {
  background: var(--accent-dark);
}

.hero__content__downloads .button.primary:active {
  background: var(--accent-darker);
}

/* About section */
.about {
  width: 85%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  font-size: 1.05em;
  gap: 2em;
  height: 100vh;
}

.about__image {
  width: 300px;
  height: auto;
  max-width: 100%;
}

.about__description {
  max-width: fit-content;
  line-height: 1.4;
}

.about__info {
  display: inline-block;
  width: 80%;
}

/* Features */
.features {
  height: 100vh;
  width: 100%;
  background-color: var(--accent-light);
  max-width: 100%!important
}

.features__wrapper {
  width: 85%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.05em;
  justify-content: center;
  gap: 2em;
}

.features__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 2em;
}

.features__container .feature {
  text-align: left;
}

.features__container .feature :is(span, svg) {
  font-display: swap;
  width: 48px;
  height: 48px;
  font-size: 48px;
  font-variation-settings: "OPSZ" 48;
  color: hsl(209deg 78% 45%);
}

.features__container .feature h3 {
  font-weight: 600;
}

.features__container .feature p {
  font-weight: 400;
}

.features__header {
  width: 100%;
  padding: 14px 0;
  text-align: center;
}

/* Links section */
.links {
  width: 85%;
  margin: 12px auto 40px auto;
  font-size: 1.05em;
  gap: 2em;
}

.links__cards {
  margin-top: 30px;
  gap: 6px 14px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.link__card {
  transition: background 0.4s ease;
  background: var(--accent-background);
  color: var(--text-color);
  border: 2px solid var(--accent-normal);
  padding: 16px 30px;
  border-radius: 20px;
  width: 100%;
  text-decoration: none;
  margin-bottom: 10px;
  min-width: 200px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 14px;
}

.link__card:hover {
  transition: background 0.4s ease;
  background: var(--accent-light);
}

.link__card:focus {
  background: var(--accent-normal);
}

.link__card img {
  width: 30px;
  height: 30px;
}

/* Other */
main > section:not(:first-child) {
  max-width: 840px;
}

@media screen and (prefers-color-scheme: dark) {
  .hero__content {
    color: var(--text-color);
  }

  .hero__content__icon {
    filter: brightness(90%);
  }

  .link__card img {
    filter: invert(1);
  }

  .hero__notice a {
    color: hsl(222deg, 100%, 85%);
  }
  
  .features {
    background: hsl(230deg 35% 25% / 50%)
  }

  .features__container .feature :is(span, svg) {
    color: hsl(230deg 75% 65%);
  }
}

@media screen and (max-width: 800px) {
  .hero__content__description {
    margin-bottom: 30px;
  }

  .about__info {
    width: 100%;
  }

  .hero__background {
    min-height: 70vh;
  }

  .hero__wrapper {
    padding-top: 40px;
  }

  .hero__content__downloads {
    flex-direction: column;
    gap: 8px;
  }

  section.about {
    flex-direction: column;
  }

  .features__container {
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 520px) {
  section.hero .hero__content {
    text-align: center;
  }

  .links__cards {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .link__card {
    min-width: -webkit-fill-available;
    min-width: fill-available;
    padding: 16px 20px;
    max-width: inherit;
  }

  .hero__content__downloads .button {
    width: fill-available;
    width: -webkit-fill-available;
  }
}

@media screen and (min-width: 1700px) and (max-height: 900px) {
  section.hero .hero__background {
    background-image: linear-gradient(
      180deg,
      hsl(209, 78%, 48%) 30%,
      hsl(152, 100%, 32%) 100%
    );
  }
}

@media screen and (min-width: 1700px) and (max-height: 900px) and (prefers-color-scheme: dark) {
  section.hero .hero__background {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)),
      linear-gradient(180deg, hsl(209, 78%, 48%) 30%, hsl(152, 100%, 32%) 100%);
  }
}
