/* Site basics */
html,
body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  background-color: var(--body-color);
  color: var(--text-color);
}

:root {
  --body-color: hsl(0deg, 100%, 100%);
  --accent-light: hsl(222deg, 100%, 98%);
  --accent-normal: hsl(222deg, 100%, 90%);
  --accent-dark: hsl(222deg, 100%, 85%);

  --accent-normal--transparent: hsla(222deg 100% 90% / 25%);

  --text-color: hsl(220deg, 5%, 10%);
  --text-disabled: hsl(220deg 5% 10% / 60%);

  --footer-color: hsl(149deg 98% 40%);
  --footer-color--darker: hsl(149deg 87% 37%);

  --lawnchair-background-color: hsl(209deg, 78%, 48%);
  --lawnchair-background: url(/assets/hero-background.svg);
}

*:focus-visible {
  outline: 1px solid var(--accent-normal);
}

.hero {
  background-image: var(--lawnchair-background);
  background-color: var(--lawnchair-background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: var(--accent-light);
}

.hero__wrapper {
  padding-top: 20vh;
  margin: auto;
  width: 70%;
  display: flex;
  gap: 20px;
}

.hero__content {
  font-size: 1.3em;
}

.hero__content__icon {
  height: 150px;
}

.hero__content__name {
  font-weight: 1000;
  font-family: "Open Sans", sans-serif;
  margin-block: 5px;
}

.hero__content__description {
  margin-bottom: 10px;
  font-weight: 600;
}

.hero__right {
  margin-left: auto;
}

.card {
  background: var(--accent-light);
  color: var(--text-color);
  padding: 20px;
  border-radius: 20px;
  width: fill-available;
  width: -webkit-fill-available;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.card__name {
  margin: 0;
}

.card__right a {
  text-decoration: none;
  color: var(--text-color);
  padding: 5px;
  transition: 0.4s;
}

.card__right a.disabled {
  cursor: not-allowed;
}

.card__right .icon-button:not(.disabled):hover {
  background: var(--accent-normal);
  border-radius: 20px;
}

.card__right .icon-button.disabled {
  color: var(--text-disabled);
}

.card__right a.card__button {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid var(--accent-normal);
}

.card__right a.card__button.disabled,
.card__right a.card__button.primary.disabled {
  border: 0;
  opacity: 0.5;
}

.card__right a.card__button:not(.disabled):not(.primary):hover {
  background: var(--accent-normal--transparent);
}

.card__right a.card__button.primary {
  background: var(--accent-normal)
}

.card__right a.card__button:not(.disabled).primary:hover {
  background: var(--accent-dark)
}

.card.card__main {
  gap: 10px;
}

.card.card__main .card__right {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.about {
  width: 70%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  justify-content: center;
  gap: 2em;
  height: 100vh;
}

.about__image {
  width: 300px;
  height: auto;
  max-width: 100%;
}

.about__header {
  font-weight: 400;
}

.about__description {
  max-width: 300px;
  line-height: 1.4;
}

.links {
  width: 70%;
  margin: 20px auto;
  font-size: 1.3em;
  gap: 2em;
}

.links__header {
  font-weight: 400;
}

.links__cards {
  margin-top: 20px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.link__card {
  background: var(--accent-light);
  color: var(--text-color);
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  text-decoration: none;
  margin-bottom: 10px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
}

.link__card:hover {
  background: var(--accent-normal);
}

.link__card:focus {
  background: var(--accent-dark);
}

.link__card img {
  max-width: 100%;
  height: 50px;
}

footer {
  background: var(--footer-color);
  padding: 10px;
}

footer span {
  display: block;
  margin: auto;
  width: 80%;
  background: var(--footer-color--darker);
  padding: 5px 10px;
  border-radius: 20px;
}

footer a {
  font-weight: 450;
  color: inherit;
  text-decoration: none;
}

.about, .links, footer span {
  max-width: 750px;
}


@media screen and (prefers-color-scheme: dark) {
  :root {
    --body-color: hsl(228deg 5% 10%);
    --accent-light: hsl(230deg 8% 15%);
    --accent-normal: hsl(230deg 35% 35%);
    --accent-dark: hsl(230deg 40% 40%);

    --accent-normal--transparent: hsl(230deg 30% 35% / 25%);

    --text-color: hsl(240deg 4% 83%);
    --text-disabled: hsl(240deg 4% 77% / 60%);

    --footer-color: hsl(152deg 100% 10%);
    --footer-color--darker: hsl(152deg 98% 14%);

    --lawnchair-background-color: hsl(209deg, 78%, 48%);
    --lawnchair-background: linear-gradient(rgb(0 0 0 / 70%), rgb(0 0 0 / 70%)), 
	  url(/assets/hero-background.svg);
  }

  .hero__content {
    color: var(--text-color);
  }

  .hero__content__icon {
    filter: brightness(75%);
  }

  .link__card img.dark-invert {
    filter: invert(1);
  }
}

@media screen and (max-width: 800px) {
  section.hero,
  section.about,
  section.links {
    height: 100%;
    padding-bottom: 1em;
  }

  .hero__wrapper {
    display: block;
    padding-top: 40px;
  }

  section.about {
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  .card.card__main {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  section.hero {
    text-align: center;
  }

  section.hero .card {
    width: -webkit-fill-available;
    width: fill-available;
    flex-direction: column;
  }
}

@media screen and (max-height: 600px) {
  section.hero,
  section.about,
  section.links {
    height: 100%;
    padding-bottom: 1em;
  }
}

@media screen and (min-width: 1700px) and (max-height: 900px) {
    section.hero {
      background: linear-gradient(180deg, rgba(27,127,219,1) 30%, rgba(0,165,88,1) 100%);
    }
}