:root {
  --primary: rgb(57 96 143);
  --surface-tint: rgb(57 96 143);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(211 228 255);
  --on-primary-container: rgb(0 28 56);
  --secondary: rgb(84 95 112);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(215 227 248);
  --on-secondary-container: rgb(16 28 43);
  --tertiary: rgb(108 86 119);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(244 217 255);
  --on-tertiary-container: rgb(38 20 49);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(65 0 2);
  --background: rgb(248 249 255);
  --on-background: rgb(25 28 32);
  --surface: rgb(248 249 255);
  --on-surface: rgb(25 28 32);
  --surface-variant: rgb(223 226 235);
  --on-surface-variant: rgb(67 71 78);
  --outline: rgb(115 119 127);
  --outline-variant: rgb(195 198 207);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(46 48 53);
  --inverse-on-surface: rgb(239 240 247);
  --inverse-primary: rgb(163 201 254);
  --primary-fixed: rgb(211 228 255);
  --on-primary-fixed: rgb(0 28 56);
  --primary-fixed-dim: rgb(163 201 254);
  --on-primary-fixed-variant: rgb(29 72 117);
  --secondary-fixed: rgb(215 227 248);
  --on-secondary-fixed: rgb(16 28 43);
  --secondary-fixed-dim: rgb(187 199 219);
  --on-secondary-fixed-variant: rgb(60 72 88);
  --tertiary-fixed: rgb(244 217 255);
  --on-tertiary-fixed: rgb(38 20 49);
  --tertiary-fixed-dim: rgb(216 189 227);
  --on-tertiary-fixed-variant: rgb(83 63 94);
  --surface-dim: rgb(216 218 224);
  --surface-bright: rgb(248 249 255);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(242 243 250);
  --surface-container: rgb(236 237 244);
  --surface-container-high: rgb(231 232 238);
  --surface-container-highest: rgb(225 226 232);
}

@media screen and (prefers-color-scheme: dark){
  :root {
    --primary: rgb(163 201 254);
    --surface-tint: rgb(163 201 254);
    --on-primary: rgb(0 49 91);
    --primary-container: rgb(29 72 117);
    --on-primary-container: rgb(211 228 255);
    --secondary: rgb(187 199 219);
    --on-secondary: rgb(38 49 65);
    --secondary-container: rgb(60 72 88);
    --on-secondary-container: rgb(215 227 248);
    --tertiary: rgb(216 189 227);
    --on-tertiary: rgb(60 41 71);
    --tertiary-container: rgb(83 63 94);
    --on-tertiary-container: rgb(244 217 255);
    --error: rgb(255 180 171);
    --on-error: rgb(105 0 5);
    --error-container: rgb(147 0 10);
    --on-error-container: rgb(255 218 214);
    --background: rgb(17 20 24);
    --on-background: rgb(225 226 232);
    --surface: rgb(17 20 24);
    --on-surface: rgb(225 226 232);
    --surface-variant: rgb(67 71 78);
    --on-surface-variant: rgb(195 198 207);
    --outline: rgb(141 145 153);
    --outline-variant: rgb(67 71 78);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(225 226 232);
    --inverse-on-surface: rgb(46 48 53);
    --inverse-primary: rgb(57 96 143);
    --primary-fixed: rgb(211 228 255);
    --on-primary-fixed: rgb(0 28 56);
    --primary-fixed-dim: rgb(163 201 254);
    --on-primary-fixed-variant: rgb(29 72 117);
    --secondary-fixed: rgb(215 227 248);
    --on-secondary-fixed: rgb(16 28 43);
    --secondary-fixed-dim: rgb(187 199 219);
    --on-secondary-fixed-variant: rgb(60 72 88);
    --tertiary-fixed: rgb(244 217 255);
    --on-tertiary-fixed: rgb(38 20 49);
    --tertiary-fixed-dim: rgb(216 189 227);
    --on-tertiary-fixed-variant: rgb(83 63 94);
    --surface-dim: rgb(17 20 24);
    --surface-bright: rgb(55 57 62);
    --surface-container-lowest: rgb(12 14 19);
    --surface-container-low: rgb(25 28 32);
    --surface-container: rgb(29 32 36);
    --surface-container-high: rgb(39 42 47);
    --surface-container-highest: rgb(50 53 58);
  }
}